<!DOCTYPE html><%

function prettify(r) {
	if (!r) return "void";
	if (typeof r === 'string') return r;
	var code = locals.ujs.minify("_=" + JSON.stringify(r), {fromString: true, output: {beautify: true}}).code;
	return code.substr(4, code.length - 5);
}

function anchorType(typeName) {
	var typeInfo = locals.metadata.typeMap[typeName];
	if (typeInfo && typeInfo.struct) {
	%><a class="linkMember" href="#<%- typeName %>"><%= typeName %></a><%
	} else {
	%><%= typeName %><%
	}
}

function renderExamples(exampleMap, name, type) {     // types: 'example', 'snippet'
	var languages = locals.metadata.languages.sort();

	// The number of values in paramsStr can be less or equal to the number of defined params
	// They need to be in the same order.
	function generateUrlParNames(paramsStr) {
		var url = '?';
		try {
			var paramsArr = JSON.parse(paramsStr);
			paramsArr.forEach(function(val, i) {
				var paramName = locals.metadata.methodMap[name].params[i].name;
				if (!paramName) {
					return null;
				}
				url += paramName + '=' + JSON.stringify(val) + '&';
			});
		} catch (err) {
			console.log(err);
			return null;
		}
		return url.substring(0, url.length - 1);
	}

	function generateUrls(paramsStr) {
		var urls = [];
		var beg = '/' + name;
		if (paramsStr.indexOf('[]') === 0) {
			urls.push(beg);
		} else {
			urls.push(beg + '?params=' + paramsStr);
			var url2 = generateUrlParNames(paramsStr);
			if (url2) {
				urls.push(beg + url2);
			}
		}
		return urls;
	}

	// Languages names cannot contain dots because they are used as css class attributes.
	// This function is used to modify the name as it should be displayed.
	function getLanguageName(language) {
		if (language === 'Node') {
			return 'Node.js';
		} else if (language === 'CSharp') {
			return 'C#';
		} else {
			return language;
		}
	}

	function renderLanguagesTabs() { %>
		<div class="tab-panel">
	<%	languages.forEach(function(language, index) { %>
			<button id="<%- language %>" class=" <% if (index === 0) {%> active<%}%> tab-btn <%- language %>" onclick="onTabClick(this)"  aria-hidden="true"><%-getLanguageName(language)%></button>
			<% }); %>
		</div>
		<% renderCodeTabs() %>
<% }

	function renderCodeTabs() {
	%>
	<div class="tab-content">
		<% languages.forEach(function(language, index) { %>
		<div class=" <% if (index === 0) {%> active<%}%> tab-pane <%- language %>" id="<%- name %>-<%- language %>">
		<% var text = exampleMap[language];
		if (language === 'Node' && text === undefined) {
			text = exampleMap['JavaScript'];
		}
		if (language === 'JavaScript' && text) { %>
			<a href="?viewer&<%- type%>=<%- name %>"
			   target="_blank" class="playgroundLink">Try</a>
	<%	}
		if(language === 'HTTP' && text) { %>
			<pre class="prettyprint"><% generateUrls(text).forEach(function(url) { %><div class="nocode"><a href="<%- metadata.path %><%=url%>" target="_blank"><%- url %></a></div><% }); %></pre>
	<% } else if (text) { %>
			<pre class="prettyprint"><%- text %></pre>
	<%  } else { %>
			<pre class="prettyprint"><span class="nocode">No example has been provided for this language.</span></pre>
	<%  } %>
		</div>
		<% }); %>
	</div>
	<%
	}

	if (type === 'snippet') { %>
		<div><a class="anchor" id="<%-name%>">
			<strong><%= name %></strong></a></div>
<% }
	renderLanguagesTabs();
}

function renderType(typeInfo) {
	%><code><%-typeInfo.enum ? 'enum' : 'struct'%> <a class="anchor" id="<%-typeInfo.name%>" name="<%-typeInfo.name%>"><strong><%= typeInfo.name %></strong></a>
	<% if (typeInfo.enum) { %><pre><%- prettify(typeInfo.struct) %></pre><% } %>
	</code>
	<% if (!typeInfo.enum) { %>
	<table class="type-table" width="100%">
		<thead>
		<tr>
			<th style="width: 25%">Property</th>
			<th style="width: 25%">Type</th>
			<th style="width: 50%">Description</th>
		</tr>
		</thead>
		<tbody>
		<% Object.keys(typeInfo.struct).forEach(function(propertyKey) {
			var property = typeInfo.struct[propertyKey]; %>
		<tr>
			<% if (property.default) { %>
				<td>
					<%- property.name %> =
					<small>
						<%- JSON.stringify(property.default) %>
					</small>
				</td>
			<% } else { %>
				<td><%- property.name %></td>
			<% } %>
			<td class="codeline"><% anchorType(property.type) %><%= property.isArray ? '[]' : '' %></td>
			<td><%- property.description || '' %></td>
		</tr>
		<% }); %>
		</tbody>
	</table>
	<% } %>
	<div><!--<span class="label label-primary">Description</span> --><%-typeInfo.description%></div>
	<%
}

function renderEvent(eventInfo) {
	%><code>event <a class="anchor" id="<%-eventInfo.name%>"><strong><%= eventInfo.name %></strong></a>: <% anchorType(eventInfo.type || 'void') %><%= eventInfo.isArray ? '[]' : '' %></code>
	<div><%-eventInfo.description%></div>
	<%
}

function renderMethod(methodInfo) {
	%><code>function <a class="anchor" id="<%-methodInfo.name%>"><strong><%= methodInfo.name %></strong></a>(<%= Object.keys(methodInfo.params).map(function (p) {
			// + ": " + methodInfo.params[p].type;
			var param = methodInfo.params[p];
			return param.default !== undefined ? ('[' + param.name + ']') : param.name;
		}).join(", ") %>): <% anchorType(methodInfo.returns || 'void') %><%= methodInfo.returnsArray ? '[]' : '' %>
	</code>
	<% if (methodInfo.params.length > 0) { %>
	<table class="type-table">
		<thead>
		<tr>
			<th style="width: 25%">Argument</th>
			<th style="width: 25%">Type</th>
			<th style="width: 50%">Description</th>
		</tr>
		</thead>
		<tbody>
		<% for (var p = 0; p < methodInfo.params.length; p++) {
			var param = methodInfo.params[p]; %>
		<tr>
			<% if (param.default !== undefined) { %>
			<td>
				<%- param.name %> =
				<small>
					<%- JSON.stringify(param.default) %>
				</small>
			</td>
			<% } else { %>
			<td><%- param.name %></td>
			<% } %>
			<td class="codeline"><% anchorType(param.type) %><%= param.isArray ? '[]' : '' %></td>
			<td><%- param.description || '' %></td>
		</tr>
		<% } %>
		</tbody>
	</table>
	<% } %>
	<div><%-methodInfo.description%></div>
	<%
		// Object.keys.length would be better but it's not fully supported
		var examples = 0;
		for (var e in methodInfo.examples) {
			if (methodInfo.examples.hasOwnProperty(e)) {
				++examples;
			}
		}
		if (examples > 0) {
			renderExamples(methodInfo.examples, methodInfo.name, 'example');
		}
}

%><html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= locals.metadata.name %> <%= locals.metadata.version %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" type="text/css" href="./static/prettify.css" />-->
	<style>
		<%Object.keys(locals.css).forEach(function (cssFile) { %>
		<%-locals.css[cssFile]%>
	   <%}) %>

		.type-img {
			background-image: url(data:image/png;base64,<%- locals.images.type %>)
		}

		.event-img {
			background-image: url(data:image/png;base64,<%- locals.images.event %>)
		}

		.method-img {
			background-image: url(data:image/png;base64,<%- locals.images.method %>)
		}

		.snippet-img {
			background-image: url(data:image/png;base64,<%- locals.images.snippet %>)
		}

		.tab-panel {
			display: flex;
			flex-direction: row;
			margin-top: 10px;
		}

		.tab-btn.active {
			color: black;
			border-left: 2px solid #e7e7e7;
			border-top: 2px solid #e7e7e7;
			border-right: 2px solid #e7e7e7;
			cursor: default;
		}

		.tab-btn {
			background-color: white;
			color: #0081c2;
			border: none;
			padding: 5px 8px;
			border-radius: 3px;
			cursor: pointer;
			outline: none;
		}

		.tab-btn:not(.active):hover {
			background-color: #e6e6e6;
		}

		.tab-pane.active {
			display: block;
		}

		.tab-pane {
			display: none;
		}

		.proxies-btn {
			background-color: #F8F8F8;
			font-size: 15px;
			color: #777;
			border: none;
			cursor: pointer;
			outline: none;
		}

		.proxies-btn:hover {
			color: #5e5e5e;
			text-decoration: none;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			overflow: auto;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			border-radius: 6px;
			padding: 1em;
		}

		.dropdown-content a {
			color: black;
			padding: 5px 8px;
			font-size: 1em;
			text-decoration: none;
			display: block;
		}

		.dropdown-content a:hover {background-color: #f1f1f1}

		.type-table tr:nth-child(even) {
			background-color: #fafafa;
		}

		.type-table th,
		.type-table td {
			border: 1px solid #ddd;
		}

		.type-table {
			border-collapse: collapse;
			margin-bottom: 20px;
		}

		td, th {
			padding: 7px;
		}

		table {
			width: 100%;
			padding: 10px;
		}

		tbody {
			vertical-align: top;
		}

		body {
			position: relative;
			top: 70px;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 12px;
			margin: 0px;
		}

		.container {
			display: flex;
			flex-direction:row;
			align-content: center;
		}

		aside {
			position: fixed;
			width: 18em;
			top: 48px;
			bottom: 0;
			display: flex;
			flex-direction:column;
			align-self: flex-start;
			padding: 10px;
			background-color: #F8F8F8;
			box-sizing: border-box;
		}

		#main {
			position: fixed;
			top: 48px;
			bottom: 0;
			right: 0;
			left: 18em;
			overflow-y: auto;
			display: flex;
			flex-direction:column;
			background-color: #ffffff;
			flex-grow: 1;
		}

		#search-results {
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			margin-top: 10px;
		}

		#search {
			font-size: 14px;
			padding: 6px 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
		}

		header {
			width: 100%;
			height: 48px;
			position: fixed;
			top: 0;
			z-index: 1;
			background: #F8F8F8;
			border-bottom: 1px solid #e7e7e7;
		}

		header ul {
			float: left;
			margin-left: 10%;
			list-style: none;
			text-align: center;
		}
		header ul li {
			display: inline-block;
			margin: 0 10px;
		}
		header ul li a {
			padding: 10px 0;
			color: #777;
			font-size: 15px;
			text-decoration: none;
			transition: all 0.2s ease;
		}
		header ul li a:hover {
			color: #5e5e5e;
			text-decoration: none;
		}

		span.badge {
			font-size: 90%;
			float: right;
		}

		code {
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 2px 4px;
			font-size: 13px;
			word-break: break-all;
			word-wrap: break-word;
			white-space: normal;
			color: #c7254e;
			background-color: #f9f2f4;
			border-radius: 4px;
			font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
		}

		.codeline {
			font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
		}

		pre {
			border-radius: 0px;
			padding: 0;
			margin: 0;
			color: inherit;
			background: inherit;
			border: inherit;
		}

		a {
			text-decoration: none;
			color: #0081c2;
		}

		a.anchor {
			text-decoration: none;
			color: inherit;
			padding-top: 70px;
			pointer-events: none;
		}

		.group {
			position: relative;
			margin: -1px 0 20px;
			padding: 0 19px 14px;
			background-color: #fff;
			border: 1px solid #ddd;
		}

		thead.group-description {
			float: left;
			vertical-align: middle;
		}

		.group-description th {
			font-weight: normal;
		}

		.group-text {
			margin-top:-1px;
			padding: 6px 10px;
			font-weight: bold;
			background-color: #f5f5f5;
			border: 1px solid #ddd;
			color: #5F6163;
			cursor: pointer;
			transition: height 200ms;
		}

		.group-content {
			display: none;
		}

		.group-content.opened {
			display: block;
		}

		.entry {
			padding: 5px;
		}

		.entry:hover {
			background-color: #fafafa;
		}

		.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
			border-bottom-width: 1px;
		}

		.member:hover {
			background: #ccc;
		}

		.linkMember {
			display: inline-block;
			text-align: left;
			text-decoration: none;
			white-space: nowrap;
		}

		.member > .linkMember {
			display: block;
			line-height: 2em;
			padding-left: 32px;
			background-position: 12px 4px;
			background-repeat: no-repeat;
		}

		.linkMember:hover {
			text-decoration: none;
		}

		.groupTitle {
			background: #eeeeee;
			border: 1px solid #ddd;
			border-radius: 4px;
		}

		.groupTitle:hover {
			background: #ccc;
		}

		.groupTitle .linkMember {
			padding-left: 4px;
		}

		pre.prettyprint {
			background-color: #EEE;
			padding: 5px;
			overflow: auto;
			max-height: 750px;
			margin: 5px 0;
			border-color: #CCC;
		}

		.playgroundLink {
			position: absolute;
			right: 7%;
			margin-top: 1em;
		}

		.playgroundLink:hover {
			text-decoration: none;
		}

	</style>
	<%Object.keys(locals.js).forEach(function (jsScript) { %>
	<script><%-locals.js[jsScript]%></script>
	<%}) %>
</head>

<body onload="prettyPrint()">
	<header>
		<nav>
			<ul>
				<li><a style="font-size: 20px" href="#"><%= locals.metadata.name %> <%= locals.metadata.version %></a></li>
			 <% if(!locals.isStatic) {%>
				<li><button class="proxies-btn" onclick="onProxiesClick()">Proxies</button>
					<div class="dropdown-content">
						<% locals.proxies.forEach(function(proxy) { %>
							<a href="?proxy=<%= proxy %>"><%= proxy %></a>
						<% }); %>
					</div></li>
				<li><a href="?viewer" target="_blank">Playground</a></li> <%}%>
			</ul>
		</nav>
	</header>


<%
var groups = Object.keys(locals.metadata.groups);
groups.sort();
var groupsMap = [];
groups.map(function(groupIndex) { return locals.metadata.groups[groupIndex].items}).forEach(function(group, i) {
	if (group.length == 0) return;
	var types = group.filter(function(i) { return i.indexOf('type:') == 0}).sort();
	var events = group.filter(function(i) { return i.indexOf('event:') == 0}).sort();
	var methods = group.filter(function(i) { return i.indexOf('method:') == 0}).sort();
	group = types.concat(events, methods);
	var groupItems = group.map(function(groupItem) {
		var split = groupItem.split(':');
		return { type: split[0], item: split[1] };
	});
	groupsMap[i] = {
		name: groups[i],
		description: locals.metadata.groups[groups[i]].description,
		items: groupItems
	};
});
var snippets = Object.keys(locals.metadata.snippetMap).map(function(snippet) {
	return { type: 'snippet', item: snippet };
});
if (snippets.length > 0) {
	groupsMap.push({
		name: 'Snippets',
		description: '',
		items: snippets
	});
}
%>


<div class="container">
	<aside id="searchDiv">
		<input type="text" id="search" placeholder="Search" class="form-control"/>

		<div id="search-results">

			<% groupsMap.forEach(function(group) { %>
			<div class="groupSearch">
				<div class="member groupTitle">
					<a href="#<%= group.name %>" class="linkMember"><%= group.name %></a>
				</div>

				<%
				group.items.forEach(function(groupItemInfo) {
				%>
				<div class="member">
					<a href="#<%= groupItemInfo.item %>" class="linkMember <%-groupItemInfo.type%>-img"><%= groupItemInfo.item%></a>
				</div>

				<% }) %> <!-- forEach(itemInfo) -->

			</div>
			<% }); %>  <!-- forEach(group) -->
		</div>
	</aside>

	<div id="main">
		<% groupsMap.forEach(function(group, i) { %>
		<div class="group-text"><a class="anchor" id="<%= group.name %>"> <%= group.name %> </a><span class="badge"><%-group.items.length%></span>
		</div>
		<div id="group-<%-i%>" class="group-content opened" style="border: 1px solid #ddd; margin: -1px 0px 10px">
			<table>
				<% if (group.description) { %>
				<thead class="group-description">
					<tr><th><%- group.description %></th></tr></thead>
				<% } %>
				<%
				group.items.forEach(function(groupItemInfo, idx) {
				if (idx % 2 == 0) { %><tr><% } %>
					<td class="entry">
						<%  var item = groupItemInfo.item;
							switch (groupItemInfo.type) {
								case 'type': renderType(locals.metadata.typeMap[item]); break;
								case 'event': renderEvent(locals.metadata.eventMap[item]); break;
								case 'method': renderMethod(locals.metadata.methodMap[item]); break;
								case 'snippet': renderExamples(locals.metadata.snippetMap[item], item, 'snippet'); break;
							}
						%>
					</td>
					<% if (idx % 2 == 1 || idx == group.items.length - 1) { %></tr><% } %>
				<% }) %> <!-- forEach(methodInfo) -->
			</table>
		</div>

		<% }); %>  <!-- forEach(group) -->

		<p>&nbsp;</p>
	</div>
</div>

<script>
	function onTabClick(tab) {
		tab.classList.add('active');
		var tabId = tab.id;
		var tabPanel = tab.parentNode;
		[].map.call(tabPanel.children, function (child) {
			if (child.id !== tabId) {
				child.classList.remove('active');
			}
			return child;
		});

		var entry = closestByClass(tab, 'entry');
		var tabContent = entry.querySelector('.tab-content');
		[].map.call(tabContent.children, function(child) {
			if (child.id.indexOf(tabId) !== -1) {
				child.classList.add('active');
			} else {
				child.classList.remove('active');
			}
			return child;
		});
	}

	function onWindowClick(e) {
		if (!hasClass(e.target, 'proxies-btn')) {
			var dropdown = document.querySelector(".dropdown-content");
			if (hasClass(dropdown, 'opened')) {
				dropdown.classList.remove('opened');
				dropdown.style.display = 'none';
			}
		}
	}

	function onProxiesClick() {
		var dropdown = document.querySelector(".dropdown-content");
		dropdown.classList.toggle("opened");
		if (hasClass(dropdown, 'opened')) {
			dropdown.style.display = "block";
			window.addEventListener('click', onWindowClick);
		} else {
			dropdown.style.display = "none";
		}
	}

	function hasClass(element, cls) {
		return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
	}

	function closestByClass(el, clazz) {
		while (el.className != clazz) {
			el = el.parentNode;
			if (!el) {
				return null;
			}
		}
		return el;
	}

	function onTypeClick() {
		lastClickedLink.style.background = hasClass(lastClickedLink, 'groupTitle') ? '#eeeeee' : 'transparent';
		lastClickedLink = this.parentNode;
		lastClickedLink.style.background = "#ccc";
		// blink background
		if (animTimeout) {
			clearTimeout(animTimeout);
			var entries = document.getElementsByClassName('entry');
			[].map.call(entries, function (entry) {
				entry.style['background-color'] = '#fff';
				return entry;
			});
		}
		if (hasClass(this.parentNode, 'groupTitle')) {
			return;
		}
		var id = this.getAttribute('href').replace('#', '');
		var anchor = document.querySelector('a[id="' + id + '"');
		var entry = closestByClass(anchor, 'entry');
		if (entry) {
			var color = '#edd0cc';
			var iter = 6;
			var setBackgroundColor = function() {
				if (iter == 0)
					return;
				entry.style['background-color'] = color;
				color = --iter % 2 == 0 ? '#edd0cc' : '#fff';
				animTimeout = setTimeout(setBackgroundColor, 500);
			}
			setBackgroundColor();
		}
	}

	var animTimeout = 0;
	var lastClickedLink = document.querySelector('.groupSearch');
	var linkMembers = document.getElementsByClassName('linkMember');
	[].forEach.call(linkMembers, function (linkMember) {
		linkMember.addEventListener("click", onTypeClick);
	});

	document.addEventListener('keyup', onKeyUp);

	function onKeyUp(e) {
		var pattern = document.querySelector('#search').value.toLowerCase();
		var groupSearchDivs = document.getElementsByClassName('groupSearch');
		[].forEach.call(groupSearchDivs, function (groupSearchDiv) {
			var linkMembers = groupSearchDiv.getElementsByClassName('linkMember');
			var groupText = linkMembers[0].innerText.toLowerCase();
			if (groupText.indexOf(pattern) !== -1) {
				[].map.call(linkMembers, function (linkMember) {
					linkMember.style.display = 'block';
					return linkMember;
				})
			} else {
				[].map.call(linkMembers, function (linkMember) {
					linkMember.style.display = linkMember.innerText.toLowerCase().indexOf(pattern) !== -1 ? 'block' : 'none';
					return linkMember;
				});
			}
		});
	}

	(function collapseGroup() {
		var groupTexts = document.getElementsByClassName('group-text');
		[].forEach.call(groupTexts, function (groupText) {
			groupText.addEventListener('click', function () {
				var group = groupText.nextSibling;
				while(group && group.nodeType !== 1) {
					group = group.nextSibling
				}
				group.classList.toggle('opened');
			});
		})
	}) ();
</script>
</body>
</html>
