<!DOCTYPE html><%

function prettify(r) {
	if (!r) return "void";
	if (typeof r === 'string') return r;

	return JSON.stringify(r, null, '    ');
}

function anchorType(typeName) {
	var typeInfo = locals.metadata.typeMap[typeName];
	if (typeInfo && typeInfo.struct) {
	  	return `<a class="linkMember" href="#${typeName}">${typeName}</a>`;
	}
	return typeName;
}

function renderExamples(exampleMap, name, type) {     // types: 'example', 'snippet'
	var languages = locals.metadata.languages.sort();

	// The number of values in paramsStr can be less or equal to the number of defined params
	// They need to be in the same order.
	function generateUrlParNames(paramsStr) {
		var url = '?';
		try {
			var paramsArr = JSON.parse(paramsStr);
			paramsArr.forEach(function(val, i) {
				var paramName = locals.metadata.methodMap[name].params[i].name;
				if (!paramName) {
					return null;
				}
				url += paramName + '=' + JSON.stringify(val) + '&';
			});
		} catch (err) {
			console.log(err);
			return null;
		}
		return url.substring(0, url.length - 1);
	}

	function generateUrls(paramsStr) {
		var urls = [];
		var beg = '/' + name;
		if (paramsStr.indexOf('[]') === 0) {
			urls.push(beg);
		} else {
			urls.push(beg + '?params=' + paramsStr);
			var url2 = generateUrlParNames(paramsStr);
			if (url2) {
				urls.push(beg + url2);
			}
		}
		return urls;
	}

	// Languages names cannot contain dots because they are used as css class attributes.
	// This function is used to modify the name as it should be displayed.
	function getLanguageName(language) {
		if (language === 'Node') {
			return 'Node.js';
		} else if (language === 'CSharp') {
			return 'C#';
		} else {
			return language;
		}
	}

	function renderLanguagesTabs() { %>
		<div class="tab-panel">
	<%	languages.forEach(function(language, index) { %>
			<button id="<%- language %>" class=" <% if (index === 0) {%> active<%}%> tab-btn <%- language %>" onclick="onTabClick(this)" aria-hidden="true"><%-getLanguageName(language)%></button>
			<% }); %>
		</div>
		<% renderCodeTabs() %>
<% }

	function renderCodeTabs() {
	%>
	<div class="tab-content">
		<% languages.forEach(function(language, index) { %>
		<div class=" <% if (index === 0) {%> active<%}%> tab-pane <%- language %>" id="<%- name %>-<%- language %>">
		<% var text = exampleMap[language];
		if (language === 'Node' && text === undefined) {
			text = exampleMap['JavaScript'];
		}
		if (language === 'JavaScript' && text) { %>
			<a href="?viewer&<%- type%>=<%- name %>"
			   target="_blank" class="playgroundLink">Try</a>
	<%	}
		if(language === 'HTTP' && text) { %>
			<pre class="prettyprint"><% generateUrls(text).forEach(function(url) { %><div class="nocode"><a href="<%- metadata.path %><%=url%>" target="_blank"><%- url %></a></div><% }); %></pre>
	<% } else if (text) { %>
			<pre class="prettyprint"><%- text %></pre>
	<%  } else { %>
			<pre class="prettyprint"><span class="nocode">No example has been provided for this language.</span></pre>
	<%  } %>
		</div>
		<% }); %>
	</div>
	<%
	}

	if (type === 'snippet') { %>
		<div class="x">
			<a class="anchor" id="<%-name%>">
				<strong><%= name %></strong>
			</a>
		</div>
<% }
	renderLanguagesTabs();
}

function renderProperty(property) {
	var description = property.description ? `\n&nbsp;&nbsp;&nbsp;&nbsp;// ${property.description}`: '';
	var propertyLine = `\n&nbsp;&nbsp;&nbsp;&nbsp;${property.name}: ${anchorType(property.type)}${property.isArray ? '[]' : ''}${property.default !== undefined? ` = ${JSON.stringify(property.default)}` : ''}`;
	return description + propertyLine;
}

function renderEnum(property, value) {
	return `\n&nbsp;&nbsp;&nbsp;&nbsp;${property}: ${value}`;
}

function renderType(typeInfo) {
	%><code><pre class="prettyprint"><%if (typeInfo.description) {%>// <%-typeInfo.description%><%}%>
<%-typeInfo.enum ? 'enum' : 'struct'%> <a class="anchor" id="<%-typeInfo.name%>" name="<%-typeInfo.name%>"><strong><%= typeInfo.name %></strong></a> { <%
		var renderedProperties = Object.keys(typeInfo.struct).map(function(propertyKey) {
		var propertyValue = typeInfo.struct[propertyKey];
		if (typeInfo.enum) {
			return renderEnum(propertyKey, propertyValue);
		}
		return renderProperty(propertyValue);
	});
	%><%-renderedProperties.join(',')%>
}</pre></code>
<%}

function renderEvent(eventInfo) {
	%><code><pre class="prettyprint"><%if (eventInfo.description) {%>// <%-eventInfo.description%><%}%>
<%- anchorType(eventInfo.type || 'void') %><%= eventInfo.isArray ? '[]' : '' %> event <a class="anchor" id="<%-eventInfo.name%>"><strong><%= eventInfo.name %></strong></a></pre></code>
	<%
}

function renderMethod(methodInfo) {
	%><code><pre class="prettyprint"><%if (methodInfo.description) {%>// <%-methodInfo.description%><%}%>
<%- anchorType(methodInfo.returns || 'void') %><%= methodInfo.returnsArray ? '[]' : '' %> <a
				class="anchor" id="<%-methodInfo.name%>"><strong><%= methodInfo.name %></strong></a>(<%- Object.keys(methodInfo.params).map(function (p) {
			var param = methodInfo.params[p];
			return renderProperty(param);
		}).join(','); %><%-methodInfo.params.length > 0 ? '\n)' : ')'%></pre></code>
<%
	// Object.keys.length would be better but it's not fully supported
	var examples = 0;
	for (var e in methodInfo.examples) {
		if (methodInfo.examples.hasOwnProperty(e)) {
			++examples;
		}
	}
	if (examples > 0) {
		renderExamples(methodInfo.examples, methodInfo.name, 'example');
	}
}

%><html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= locals.metadata.name %> <%= locals.metadata.version %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" type="text/css" href="./static/prettify.css" />-->
	<style>
		<%Object.keys(locals.css).forEach(function (cssFile) { %>
		<%-locals.css[cssFile]%>
	   <%}) %>

		html, body {
			width: 100%;
			height: 100%;
		}

		.type-img {
			background: url(data:image/svg+xml;base64,<%- locals.images.type %>);
			background-repeat: no-repeat;
		}

		.event-img {
			background: url(data:image/svg+xml;base64,<%- locals.images.event %>);
			fill: white;
		}

		.method-img {
			background: url(data:image/svg+xml;base64,<%- locals.images.method %>);
			background-repeat: no-repeat;
		}

		.snippet-img {
			background: url(data:image/svg+xml;base64,<%- locals.images.snippet %>);
			background-repeat: no-repeat;
		}

		.tab-panel {
			display: flex;
			flex-direction: row;
			margin-top: 10px;
		}

		.tab-btn.active {
			color: black;
			border: 1px solid #545454;
			border-bottom: none;
			cursor: default;
		}

		.tab-btn {
			background-color: #EEE;
			font-size: 11px;
			color: #0081c2;
			border: none;
			padding: 5px 8px;
			margin: 0px 3px;
			cursor: pointer;
			outline: none;
		}

		.tab-btn::-moz-focus-inner {
			border: 0;
		}

		.tab-btn:not(.active):hover {
			background-color: #d0d0d0;
		}

		.tab-pane.active {
			display: block;
		}

		.tab-pane {
			display: none;
		}

		.proxies-btn {
			font-size: 15px;
			background-color: #3b8ec2;
			color: white;
			border: none;
			cursor: pointer;
			outline: none;
			padding: 10px 5px;
		}

		.proxies-btn::-moz-focus-inner {
			border: 0;
		}

		.proxies-btn:hover {
			background-color: #3cb0fd;
			text-decoration: none;
		}

		.dropdown-content {
			z-index: 1;
			display: none;
			position: absolute;
			top: 37px;
			background-color: #3b8ec2;
			overflow: auto;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		}

		.dropdown-content a {
			color: white;
			padding: 5px 8px;
			font-size: 13px;
			text-decoration: none;
			display: block;
		}

		.dropdown-content a:hover {background-color: #3cb0fd}

		body {
			display: flex;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 12px;
			margin: 0px;
			overflow: hidden;
		}

		.container {
			display: flex;
			flex-direction: column;
			flex: 1 1 90%;
			background-color: #eee;
		}

		aside {
			flex: 1 1 10%;
			display: flex;
			overflow: auto;
			flex-direction: column;
			align-self: flex-start;
			background-color: #3b8ec2;
			min-width: 16em;
			height: 100%;
		}

		#main {
			overflow-y: auto;
		}

		#search-results {
			overflow-y: auto;
			color: white;
		}

		#search {
			min-height: 38px;
			border: 0;
			padding: 0px;
			padding-left: 4px;
			background-color: #eee;
		}

		header {
			display: flex;
			flex-direction: row;
			width: 100%;
			min-height: 38px;
			top: 0;
			z-index: 1;
			background: #3b8ec2;
		}

		#proxy-name {
			padding: 7px;
		}

		nav {
			height: 38px;
			display: flex;
			width: 100%;
			justify-content: space-between;
		}

		header nav a {
			padding: 10px 5px;
			color: white;
			font-size: 15px;
			text-decoration: none;
		}

		#header-buttons {
			font-size: 15px;
			align-self: flex-end;
		}

		.btn:hover {
			background-color: #3cb0fd;
			text-decoration: none;
		}

		code {
			display: block;
			margin: 10px 0px;
			font-size: 13px;
			word-break: break-all;
			word-wrap: break-word;
			white-space: normal;
			font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
		}

		.codeline {
			font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
		}

		pre {
			margin: 0;
		}

		a {
			text-decoration: none;
			color: #0081c2;
		}

		a.anchor {
			pointer-events: none;
		}

		.group {
			margin: -1px 0 20px;
			padding: 0 19px 14px;
			background-color: #fff;
		}

		.group-description, .group-title {
			margin: 7px;
		}

		.group-expand {
			cursor: pointer;
			display: inline-flex;
			align-items: center;
		}

		.group-expand.opened:before {
			/*background svg original(using base64 for the support of IE and Edge) :
			<svg fill="#000000" height="12" viewBox="0 0 24 24" width="12" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/>
			</svg>*/
			background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3Zn	Ij48cGF0aCBkPSJNMTkgMTNoLTZ2NmgtMnYtNkg1di0yaDZWNWgydjZoNnYyeiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4K');
			content: '';
			height: 12px;
			width: 12px;
			border: 1px solid black;
			margin: 0px 3px;
		}

		.group-expand:before {
			/*background svg original(using base64 for the support of IE and Edge):
			<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="12" viewBox="0 0 24 24" width="12">
				<path d="M19 13H5v-2h14v2z"/><path d="M0 0h24v24H0z" fill="none"/>
			</svg>
			*/
			background: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiMwMDAwMDAiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjEyIj48cGF0aCBkPSJNMTkgMTNINXYtMmgxNHYyeiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4K');
			content: '';
			height: 12px;
			width: 12px;
			border: 1px solid black;
			margin: 0px 3px;
		}

		.group-title {
			display: flex;
			padding: 5px 0px;
		}

		.group-content {
			display: none;
		}

		.group-content.opened {
			display: block;
		}

		code .linkMember {
			color: #3cb0fd;
		}

		.entry {
			background-color: #EEE;
			margin: 7px;
			position: relative;
		}

		.member:hover {
			background: #3cb0fd;
		}

		.linkMember {
			text-align: left;
			text-decoration: none;
			white-space: nowrap;
			color: white;
		}

		.member > .linkMember,
		.entry > .linkMember {
			display: block;
			line-height: 2em;
			padding-left: 32px;
			padding-right: 8px;
			background-position: 6px 3px;
			background-repeat: no-repeat;
		}

		.linkMember:hover {
			text-decoration: none;
		}

		.groupTitle {
			background: #3cb0fd;
		}

		.groupTitle:hover {
			background: #3CB2C8;
		}

		.groupTitle .linkMember {
			padding-left: 4px;
		}

		pre.prettyprint {
			background-color: #eee;
			padding: 5px;
			overflow: auto;
			border: none;
		}

		.playgroundLink {
			position: absolute;
			top: 10px;
			right: 20px;
		}

		.playgroundLink:hover {
			text-decoration: none;
		}

	</style>
	<%Object.keys(locals.js).forEach(function (jsScript) { %>
	<script><%-locals.js[jsScript]%></script>
	<%}) %>
</head>

<%
var groups = Object.keys(locals.metadata.groups);
groups.sort();
var groupsMap = [];
groups.map(function(groupIndex) { return locals.metadata.groups[groupIndex].items}).forEach(function(group, i) {
	if (group.length == 0) return;
	var types = group.filter(function(i) { return i.indexOf('type:') == 0}).sort();
	var events = group.filter(function(i) { return i.indexOf('event:') == 0}).sort();
	var methods = group.filter(function(i) { return i.indexOf('method:') == 0}).sort();
	group = types.concat(events, methods);
	var groupItems = group.map(function(groupItem) {
		var split = groupItem.split(':');
		return { type: split[0], item: split[1] };
	});
	groupsMap[i] = {
		name: groups[i],
		description: locals.metadata.groups[groups[i]].description,
		items: groupItems
	};
});
var snippets = Object.keys(locals.metadata.snippetMap).map(function(snippet) {
	return { type: 'snippet', item: snippet };
});
if (snippets.length > 0) {
	groupsMap.push({
		name: 'Snippets',
		description: '',
		items: snippets
	});
}
%>

<body onload="prettyPrint()">

	<aside id="searchDiv">
	<input type="text" id="search" placeholder="Search"/>

	<div id="search-results">

		<% groupsMap.forEach(function(group) { %>
		<div class="groupSearch">
			<div class="member groupTitle">
				<a href="#<%= group.name %>" class="linkMember"><%= group.name %></a>
			</div>

			<%
			group.items.forEach(function(groupItemInfo) {
			%>
			<div class="member">
				<a href="#<%= groupItemInfo.item %>" class="linkMember <%-groupItemInfo.type%>-img"><%= groupItemInfo.item%></a>
			</div>

			<% }) %> <!-- forEach(itemInfo) -->

		</div>
		<% }); %>  <!-- forEach(group) -->
	</div>
</aside>
	<div class="container">
		<header>
			<nav>
				<a style="font-size: 20px" href="#top" id="proxy-name"><%= locals.metadata.name %> <%= locals.metadata.version %></a>
				<% if(!locals.isStatic) {%>
				<div id="header-buttons">
					<button class="proxies-btn btn" onclick="onProxiesClick()">Proxies</button>
					<div class="dropdown-content">
						<% locals.proxies.forEach(function(proxy) { %>
						<a href="?proxy=<%= proxy %>"><%= proxy %></a>
						<% }); %>
					</div>
					<a href="?viewer" target="_blank" class="btn">Playground</a> <%}%>
				</div>
			</nav>
		</header>

		<div id="main">
			<a name="top"></a>
			<% groupsMap.forEach(function(group, i) { %>
			<pre><div class="group-title"><span class="group-expand"><a class="anchor prettyprint" id="<%= group.name %>">// <%= group.name %> (<%-group.items.length%>)</a></span> </div></pre>
			<div id="group-<%-i%>" class="group-content opened">
					<% if (group.description) { %>
					<div class="group-description">
						<pre class="prettyprint">// <%- group.description %></pre></div>
					<% } %>
					<%	group.items.forEach(function(groupItemInfo) { %>
						<div class="entry">
							<%  var item = groupItemInfo.item;
								switch (groupItemInfo.type) {
									case 'type': renderType(locals.metadata.typeMap[item]); break;
									case 'event': renderEvent(locals.metadata.eventMap[item]); break;
									case 'method': renderMethod(locals.metadata.methodMap[item]); break;
									case 'snippet': renderExamples(locals.metadata.snippetMap[item], item, 'snippet'); break;
								}
							%>
						</div>
					<% }) %> <!-- forEach(methodInfo) -->
			</div>

			<% }); %>  <!-- forEach(group) -->
		</div>
	</div>


<script>
	function onTabClick(tab) {
		tab.classList.add('active');
		var tabId = tab.id;
		var tabPanel = tab.parentNode;
		[].map.call(tabPanel.children, function (child) {
			if (child.id !== tabId) {
				child.classList.remove('active');
			}
			return child;
		});

		var entry = closestByClass(tab, 'entry');
		var tabContent = entry.querySelector('.tab-content');
		[].map.call(tabContent.children, function(child) {
			if (child.id.indexOf(tabId) !== -1) {
				child.classList.add('active');
			} else {
				child.classList.remove('active');
			}
			return child;
		});
	}

	function onWindowClick(e) {
		if (!hasClass(e.target, 'proxies-btn')) {
			var dropdown = document.querySelector(".dropdown-content");
			if (hasClass(dropdown, 'opened')) {
				dropdown.classList.remove('opened');
				dropdown.style.display = 'none';
			}
		}
	}

	function onProxiesClick() {
		var dropdown = document.querySelector(".dropdown-content");
		dropdown.classList.toggle("opened");
		if (hasClass(dropdown, 'opened')) {
			dropdown.style.display = "block";
			window.addEventListener('click', onWindowClick);
		} else {
			dropdown.style.display = "none";
		}
	}

	function hasClass(element, cls) {
		return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
	}

	function closestByClass(el, clazz) {
		while (el.className != clazz) {
			el = el.parentNode;
			if (!el) {
				return null;
			}
		}
		return el;
	}

	document.addEventListener('keyup', onKeyUp);

	function onKeyUp(e) {
		var pattern = document.querySelector('#search').value.toLowerCase();
		var groupSearchDivs = document.getElementsByClassName('groupSearch');
		[].forEach.call(groupSearchDivs, function (groupSearchDiv) {
			var linkMembers = groupSearchDiv.getElementsByClassName('linkMember');
			var groupText = linkMembers[0].innerText.toLowerCase();
			if (groupText.indexOf(pattern) !== -1) {
				[].map.call(linkMembers, function (linkMember) {
					linkMember.style.display = 'block';
					return linkMember;
				})
			} else {
				[].map.call(linkMembers, function (linkMember) {
					linkMember.style.display = linkMember.innerText.toLowerCase().indexOf(pattern) !== -1 ? 'block' : 'none';
					return linkMember;
				});
			}
		});
	}

	function onEscape(e) {
		var isEscape = false;
		if ("key" in e) {
			isEscape = (e.key == "Escape" || e.key == "Esc");
		} else {
			isEscape = (e.keyCode == 27);
		}
		if (isEscape) {
			var self = this;
			setTimeout(function() {
				self.value = "";
			}, 0); // Using setTimeout because of Mozilla problem
		}
	}

	document.querySelector('#search').addEventListener('keydown', onEscape);
	document.querySelector('#proxy-name').addEventListener('click', onProxyNameClick);

	function onProxyNameClick() {
		window.reload
	}

	(function collapseGroup() {
		var groupExpands = document.getElementsByClassName('group-expand');
		[].forEach.call(groupExpands, function (groupExpand) {
			groupExpand.addEventListener('click', function () {
				var group = groupExpand.parentNode.parentNode.nextSibling;
				while(group && group.nodeType !== 1) {
					group = group.nextSibling
				}
				group.classList.toggle('opened');
				groupExpand.classList.toggle('opened');
			});
		})
	}) ();
</script>
</body>
</html>
