<%
	var root = locals.root;
	var title = locals.title;
	var url = locals.url;
	var examples = locals.examples;
	var snippets = locals.snippets;
	var code = locals.code;
	var client = locals.client;
	var metadata = locals.metadata;
%><!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %> - Playground</title>
	<script>
		<%-client%>
	</script>
	<script src="?proxy=JavaScript&localName=Proxy"></script>
	<script src="./static/ace.js"></script>
	<script src="./static/ext-language_tools.js"></script>
	<style>
		#listButton {

		}

		.listDropdown {
			z-index: 1;
			display: flex;
			flex-direction: column;
			display: none;
			background-color: #3b8ec2;
			vertical-align: middle;
		}

		.listDropdown.opened {
			display: flex;
		}

		.listDropdown a {
			align-self: stretch;
			background-color: #3b8ec2;
			font-size: 14px;
		}

		.listDropdown div {
			color: #d6d6d6;
		}

		html {
			height: 100%;
		}

		body {
			display: flex;
			margin: 0;
			height: 100%;
			flex-direction: column;
		}

		.ace_editor {
			margin: 0px;
		}

		.editors {
			display: flex;
			flex-grow: 10;
			justify-content: center;
			align-self: stretch;
			align-content: stretch;
			height: 100%;
		}

		.input {
			flex-basis: inherit;
			width: 70%;
		 }

		.output {
			flex-grow: 1;
			flex-basis: inherit;
		}

		.blue    { background-color: #3b8ec2; }
		.red     { background-color: #cb0a00; }

		#buttons {
			display: flex;
			flex-direction: column;
			max-width: 38px;
		}

		#resizeButton {
			flex-grow: 1;
			align-self: stretch;
			cursor: col-resize;
		}

		#resizeButton:hover {
			background-color: #3b8ec2;
		}

		.btn {
			align-self: flex-end;
			border: 0;
			font-family: Arial;
			color: #ffffff;
			font-size: 15px;
			padding: 5px 10px;
			text-decoration: none;
			outline: none;
			height: 32px;
		}

		.btn:hover {
			background-color: #3cb0fd;
			text-decoration: none;
		}

		.btn.red:hover{
			background: #e70a00;
		}

		#examples {
			display: flex;
			flex-direction: row;
			max-height: 32px;
		}
	</style>
</head>
<body>
	<div class="editors">
		<div class="input">
			<textarea id="codeTextArea"><% if (code) { %>
				<%- code %>  <% } %>
			</textarea>
		</div>
		<div id="buttons">
			<button type="button" class="btn blue" id="runButton"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M8 5v14l11-7z"/></svg></button>
			<button type="button" class="btn red" id="clearButton"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg></button>

			<% if(examples.length + snippets.length > 0) {%>
			<div id="examples">
				<button type="button" class="btn blue" id="listButton"><svg id="listSvg" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M19 9H2v2h17V9zm0-4H2v2h17V5zM2 15h13v-2H2v2zm15-2v6l5-3-5-3z"/></svg></button>
				<% if(examples.length > 0) {%>
				<div class="listDropdown blue">
					<div class="blue">--- Examples ---</div>
					<% examples.forEach(function(example) {
						var link = url + "?viewer&example=" + example; %>
					<a class="blue btn" href="<%-link%>"><%-example%></a>
					<%})%>
					<%}%>

					<% if(snippets.length > 0) {%>
					<div class="blue">--- Snippets ---</div>
					<% snippets.forEach(function(snippet) {
						var link = url + "?viewer&snippet=" + snippet; %>
					<a class="blue btn" href="<%-link%>"><%-snippet%></a>
					<%})%>
					<%}%>
				</div>
			</div>
			<%}%>
			<button type="button" class="btn blue" id="resizeButton"></button>
		</div>
		<div class="output">
			<textarea id="outputTextArea"></textarea>
		</div>
	</div>

<script type="text/javascript">
	function onChangeExample(value) {
		window.location = value;
	}

	(function () {
		'use strict';
		var outputString = '';
		var langTools = ace.require("ace/ext/language_tools");
		var editor = ace.edit("codeTextArea");
		var output = ace.edit("outputTextArea");
		var editors = document.querySelector('.editors');
		var aceOptions = {
			mode: 'ace/mode/javascript',
			fontSize: "12pt"
		}
		editor.setOptions(aceOptions);
		var linesCount = window.innerHeight / editor.renderer.lineHeight - 1;
		editor.setOptions({
			minLines: linesCount,
			maxLines: linesCount,
			enableBasicAutocompletion: true,
			enableLiveAutocompletion: true,
			enableSnippets: true
		});
		editor.$blockScrolling = Infinity;
		output.$blockScrolling = Infinity;
		output.setOptions(Object.assign({minLines: linesCount, maxLines: linesCount}, aceOptions));
		output.setReadOnly(true);
		output.getSession().setUseWorker(false);
		output.renderer.$cursorLayer.element.style.display = "none";
		output.renderer.setShowGutter(false);

		<%
 			var groups = Object.keys(metadata.groups);
			var groupsItems = groups.map(function(group) { return  metadata.groups[group].items; }) ;
			var items = [].concat.apply([], groupsItems);
			var wordList = items.map(function(item) {
				var itemParts = item.split(':');
				var name = itemParts[1];
				var type = itemParts[0];
				return {
					caption: name,
					value: name,
					score: 10000,
					meta: type,
					toString() {
						return `{ caption: '${this.caption}', value: '${this.value}', score: '${this.score}', meta: '${this.meta}' }`;
					}
				}
			});
 		%>

		var proxyCompleter = {
			getCompletions: function(editor, session, pos, prefix, callback) {
				callback(null, [<%-wordList%>]);
			}
		}

		langTools.addCompleter(proxyCompleter);

		var snippetManager = ace.require("ace/snippets").snippetManager;

		<%
		var methods = Object.keys(metadata.methodMap);
		var snippets = methods.map(function (method) {
			var methodInfo = metadata.methodMap[method];
			var params = methodInfo.params;
			params = params.map(function(param, index) {
				return '${' + `${index + 1}: ${param.name}:${param.type}}`;
			});
			var paramsSnippet = params.join(', ');
			return {
				name: methodInfo.name,
				tabTrigger: methodInfo.description,
				content: methodInfo.name + `(${paramsSnippet}${params.length ? ', ' : ''}(err, res) => {\\n\\t\${0}\\n});`,
				toString() {
					return `{name: '${this.name}', content: '${this.content}'}`;
				}
			}
		});
		%>

		ace.config.loadModule("ace/snippets/javascript", function(m) {
			if (m) {
				snippetManager.files.xml = m;
				m.snippets = snippetManager.parseSnippetFile(m.snippetText);

				[<%-snippets%>].forEach(function (s) {
					m.snippets.push(s);
				});
				snippetManager.register(m.snippets, m.scope);
			}
		});



		function getFirstLine() {
			if (!window.location.origin) {
				window.location.origin = window.location.protocol + '//' + window.location.hostname +
						(window.location.port ? ':' + window.location.port: '');
			}
			return 'var proxy = new Proxy("' + window.location.origin + window.location.pathname + '");\n\n';
		}

		function initEditor() {
			editor.focus();
			editor.setValue(getFirstLine(), 1);
			outputString = '';
			output.setValue(outputString, 1);
		}
		initEditor();

		<% if (code) { %>
			editor.setValue(getFirstLine() + <%- '"' + code.replace(new RegExp('"', 'g'), '\\"').replace(new RegExp('\\r?\\n', 'g'), '\\n')  + '"' %>, 1);
		<% } %>

		function run() {
			var code = editor.getValue();
			outputString = '';
			new Function('console', code)({
				log: function () {
					var text = '';
					for (var i = 0; i < arguments.length; i++) {
						text += JSON.stringify(arguments[i], null, 4) + ' ';
						console.log(arguments[i]);
					}
					outputString += text + '\n';
					output.setValue(outputString, 1);
				},
				clear: function() {
					console.clear();
					outputString = '';
					output.setValue(outputString, 1);
				}
			});
			editor.focus();
		}

		function clear() {
			initEditor();
		}

		function KeyDown(e) {
			var evtobj = window.event ? event : e;
			if (evtobj.keyCode == 13 && evtobj.ctrlKey) {
				run();
			} else if (evtobj.keyCode == 46 && evtobj.ctrlKey) {
				clear();
			}
		}

		function onMouseMove(e) {
			var input = document.querySelector('.input');
			document.querySelector('.input').setAttribute("style", "width:" + e.x + 'px');
			editor.resize();
			document.querySelector("#resizeButton").style.left = e.x + "px";
		}

		function onMouseDown(e) {
			e.preventDefault();
			window.addEventListener('mousemove', onMouseMove);
		}

		function onMouseUp() {
			window.removeEventListener('mousemove', onMouseMove);
		}

		function hasClass(element, cls) {
			return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
		}

		function isDescendant(child, parent) {
			var node = child;
			while (node != null) {
				if (node == parent) {
					return true;
				}
				node = node.parentNode;
			}
			return false;
		}

		function onWindowClick(e) {
			var listButton = document.querySelector('#listButton');
			if (!isDescendant(e.target, listButton) && !hasClass(e.target, 'listDropdown')) {
				var listDropdown = document.querySelector('.listDropdown');
				if (hasClass(listDropdown, 'opened')) {
					listDropdown.classList.remove('opened');
				}
			}
		}

		function onListButtonClick() {
			var listDropdown = document.querySelector(".listDropdown");
			listDropdown.classList.toggle("opened");
			if (hasClass(listDropdown, 'opened')) {
				window.addEventListener('click', onWindowClick);
			}
		}

		document.onkeydown = KeyDown;
		var runButton = document.querySelector('#runButton');
		runButton.addEventListener("click", run);
		var clearButton = document.querySelector('#clearButton');
		clearButton.addEventListener("click", clear);
		var listButton = document.querySelector('#listButton');
		listButton.addEventListener('click', onListButtonClick);
		var resizeButton = document.querySelector('#resizeButton');
		resizeButton.addEventListener("mousedown", onMouseDown);
		window.addEventListener("mouseup", onMouseUp);
	})();
</script>
</body>
</html>
