<%
	var root = locals.root;
	var title = locals.title;
	var url = locals.url;
	var examples = locals.examples;
	var snippets = locals.snippets;
	var code = locals.code;
	var client = locals.client;
	var metadata = locals.metadata;
%><!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %> - Playground</title>
	<script>
		<%-client%>
	</script>
	<script src="?proxy=JavaScript&localName=Proxy"></script>
	<script src="./static/ace.js"></script>
	<script src="./static/ext-language_tools.js"></script>
	<style>
		body {
			display: flex;
			margin: 0;
			flex-direction: column;
		}

		.vertical_line {
			background-color: #3b8ec2;
			width: 2px;
			flex-grow: 0;
			cursor: col-resize;
		}

		.ace_editor {
			margin: 0px;
		}

		.editors {
			display: flex;
			flex-grow: 10;
			justify-content: center;
			align-self: stretch;
			align-content: stretch;
		}

		.input {
			border: 1px solid #3b8ec2;
			flex-basis: inherit;
			width: 75%;
			min-width: 10%;
			max-width: 90%;
		 }

		.output {
			border: 1px solid #3b8ec2;
			flex-grow: 1;
			width: 25%;
			flex-basis: inherit;
		}
		.editors + div {
			flex-grow: 1;
			height: 0.5em;
		}

		.styled-select {
			display: flex;
			align-self: center;
			overflow: hidden;
		}

		.styled-select:hover {
			background-color: #3cb0fd;
			color: white;
		}

		.styled-select select {
			background: transparent;
			border: 0px;
			font-size: 15px;
			padding: 4px 5px;
			max-width: 90px;
		}

		option {
			color: black;
		}

		/* -------------------- Colors: Background */
		.blue    { background-color: #3b8ec2; }
		.red     { background-color: #c10a00; }

		/* -------------------- Colors: Text */
		.blue select    { color: white; }
		.blue select:hover    { color: white; }


		#buttons {
			display: flex;
			justify-content: flex-end;
		}

		.btn {
			align-self: center;
			border: 0;
			font-family: Arial;
			color: #ffffff;
			font-size: 15px;
			padding: 5px 10px;
			text-decoration: none;
			/*margin: 5px 0px;*/
		}

		.btn:hover {
			background-color: #3cb0fd;
			text-decoration: none;
		}

		.btn.red:hover{
			background: #e70a00;
		}
	</style>
</head>
<body>
	<div class="editors">
		<div class="input">
			<div id="buttons">
				<button type="button" class="btn blue" id="runButton">Run</button>
				<button type="button" class="btn red" id="clearButton">Clear</button>
				<% if (examples.length > 0) { %>
				<div class="styled-select blue">
					<select onchange="changeExample(this.value)">
						<option>Examples</option>
						<% examples.forEach(function(example) {
							var link = url + "?viewer&example=" + example; %>
						<option value="<%- link %>"><%- example %></option>
						<% });%>
					</select>
				</div>
				<%}%>

				<% if (snippets.length > 0) { %>
				<div class="styled-select blue">
					<select onchange="changeExample(this.value)">
						<option>Snippets</option>
						<% snippets.forEach(function(snippet) {
							var link = url + "?viewer&snippet=" + snippet; %>
						<option value="<%- link %>"><%- snippet %></option>
						<% }); %>
					</select>
				</div>
				<%}%>
			</div>
			<div>
			<textarea id="codeTextArea"><% if (code) { %>
				<%- code %>  <% } %>
			</textarea>
			</div>
		</div>
		<div class="vertical_line">
		</div>
		<div class="output">
			<textarea id="outputTextArea"></textarea>
		</div>
	</div>

	<div class="footer"></div>

<script type="text/javascript">
	function changeExample(value) {
		window.location = value;
	}

	(function () {
		'use strict';
		var outputString = '';
		var langTools = ace.require("ace/ext/language_tools");
		var editor = ace.edit("codeTextArea");
		var output = ace.edit("outputTextArea");
		var editors = document.querySelector('.editors');
		var aceOptions = {
			mode: 'ace/mode/javascript',
			fontSize: "12pt"
		}
		editor.setOptions(aceOptions);
		var input = document.querySelector('.input');
		var buttonsHeight = document.querySelector('#buttons').clientHeight;
		input.setAttribute("style", 'width:' + window.innerWidth/2 + 'px');
		var height = window.innerHeight - buttonsHeight - 30;
		var linesCount = height / editor.renderer.lineHeight;
		editor.setOptions({
			minLines: linesCount,
			maxLines: linesCount,
			enableBasicAutocompletion: true,
			enableLiveAutocompletion: true,
			enableSnippets: true
		});
		editor.$blockScrolling = Infinity;
		output.$blockScrolling = Infinity;
		output.setOptions(Object.assign({minLines: linesCount, maxLines: linesCount}, aceOptions));
		output.setReadOnly(true);
		output.getSession().setUseWorker(false);
		output.renderer.$cursorLayer.element.style.display = "none";
		output.renderer.setShowGutter(false);

		<%
 			var groups = Object.keys(metadata.groups);
			var groupsItems = groups.map(function(group) { return  metadata.groups[group].items; }) ;
			var items = [].concat.apply([], groupsItems);
			var wordList = items.map(function(item) {
				var itemParts = item.split(':');
				var name = itemParts[1];
				var type = itemParts[0];
				return {
					caption: name,
					value: name,
					score: 10000,
					meta: type,
					toString() {
						return `{ caption: '${this.caption}', value: '${this.value}', score: '${this.score}', meta: '${this.meta}' }`;
					}
				}
			});
 		%>

		var proxyCompleter = {
			getCompletions: function(editor, session, pos, prefix, callback) {
				callback(null, [<%-wordList%>]);
			}
		}

		langTools.addCompleter(proxyCompleter);

		function getFirstLine() {
			if (!window.location.origin) {
				window.location.origin = window.location.protocol + '//' + window.location.hostname +
						(window.location.port ? ':' + window.location.port: '');
			}
			return 'var proxy = new Proxy("' + window.location.origin + window.location.pathname + '");\n\n';
		}

		function initEditor() {
			editor.focus();
			editor.setValue(getFirstLine(), 1);
			outputString = '';
			output.setValue(outputString, 1);
		}
		initEditor();

		<% if (code) { %>
			editor.setValue(getFirstLine() + <%- '"' + code.replace(new RegExp('"', 'g'), '\\"').replace(new RegExp('\\r?\\n', 'g'), '\\n')  + '"' %>, 1);
		<% } %>

		function run() {
			var code = editor.getValue();
			outputString = '';
			new Function('console', code)({
				log: function () {
					var text = '';
					for (var i = 0; i < arguments.length; i++) {
						text += JSON.stringify(arguments[i], null, 4) + ' ';
						console.log(arguments[i]);
					}
					outputString += text + '\n';
					output.setValue(outputString, 1);
				},
				clear: function() {
					console.clear();
					outputString = '';
					output.setValue(outputString, 1);
				}
			});
			editor.focus();
		}

		function clear() {
			initEditor();
		}

		function KeyDown(e) {
			var evtobj = window.event ? event : e;
			if (evtobj.keyCode == 13 && evtobj.ctrlKey) {
				run();
			} else if (evtobj.keyCode == 46 && evtobj.ctrlKey) {
				clear();
			}
		}

		function onMouseMove(e) {
			var input = document.querySelector('.input');
			document.querySelector('.input').setAttribute("style", "width:" + e.x + 'px');
			editor.resize();
			document.querySelector(".vertical_line").style.left = e.x + 3 + "px";
		}

		function onMouseDown(e) {
			e.preventDefault();
			window.addEventListener('mousemove', onMouseMove);
		}

		function onMouseUp() {
			window.removeEventListener('mousemove', onMouseMove);
		}

		document.onkeydown = KeyDown;
		var runButton = document.querySelector('#runButton');
		runButton.addEventListener("click", run);
		var clearButton = document.querySelector('#clearButton');
		clearButton.addEventListener("click", clear);
		var verticalLine = document.querySelector('.vertical_line');
		verticalLine.addEventListener("mousedown", onMouseDown);
		window.addEventListener("mouseup", onMouseUp);
	})();
</script>
</body>
</html>
